* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    &::before, &::after {
        box-sizing: inherit;
    }
}
html {
    box-sizing: border-box;
    background: rgba($light-blue, .5);
    font: 300 100%/1.5 Avenir;
}

body {

}

img {
    max-width: 100%;
}

a {
    color: $med-blue;
    text-decoration: none;
    transition: all 375ms ease;
    &:hover {
        color: $pale-gold;
    }
}
